body {
  height: 50%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.postimg.cc/WbW7x0PY/pexels-markusspiske-1089438.jpg'); /* Hacking style bg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  margin: 100px auto;
  background: white;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
}

h1 {
  margin-bottom: 20px;
}

.points-container {
  font-size: 22px;
  margin-bottom: 20px;
}

button {
  background-color: #ff1a1a; /* Bright red */
  border: none;
  matgin: 20px 0;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 0 10px #ff1a1a, 0 0 20px #ff1a1a; /* 🔴 red glow */
}

button:hover:not(:disabled) {
  background-color: #45a049;
}

.owner-btn {
  background-color: #28a745; /* හරිත (green) */
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;  /* එකෙන් එකට gap එක */
  border: none;
  border-radius: 6px;
  width: 200px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

.progress-wrapper {
  width: 100%;
  height: 25px;
  background-color: #ddd;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
}

#progressBar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 1s linear;
}
